<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
		<title>Home</title>
		<h:outputStylesheet library="css" name="estilo.css"/>
	</h:head>
	<h:body>
		<p:toolbar styleClass="main-menu">
			<p:toolbarGroup>
				<h:outputLink value="/sistema-academico/index.xhtml" >Home</h:outputLink>
				<h:outputLink value="/sistema-academico/crud-curso.xhtml" >Manter Cursos</h:outputLink>
				<h:outputLink value="/sistema-academico/crud-aluno.xhtml" >Manter Alunos</h:outputLink>
			</p:toolbarGroup>
		</p:toolbar>
	</h:body>
</html>